{{#article}}
<article class="modal">
        <button type="button" class ="modal__cross">
            <svg  width = "14px" height = "14px">
                <use href = "./images/sprite.svg#close_icon"></use>
            </svg>
        </button>
        <div class = "modal__wrap">
            <img class="modal__img" href="./images/Rectangle.png" width="240px" height="356px">
            <div>
                <h2 class="modal__title">{{A FISTFUL OF LEAD}}</h2>
                <div class="modal__list">
                    <ul class="modal__params">
                        <li class="modal__item">Vote / Votes</li>
                        <li class="modal__item">Popularity</li>
                        <li class="modal__item">Original Title</li>
                        <li class="modal__item">Genre</li>
                    </ul>
                    <ul class="modal__value">
                        <li class="modal__meaning">
                            <span class="modal__meaning--orange">{{777}}</span> / <span class="modal__meaning--grey">{{777}}</span>
                        </li>
                        <li class="modal__meaning">{{1111}}</li>
                        <li class="modal__meaning">{{A FISTFUL OF LEAD}}</li>
                        <li class="modal__meaning">{{Western}}</li>
                    </ul>
                </div>
                <span class="modal__subtitle">{{ABOUT}}</span>
                <p class="modal__desc">{{Four of the West}}</p>
                <div class="modal__wrap--btn">
                    <button class="movie-card__btn">ADD TO WATCHED</button>
                    <button class="movie-card__btn">ADD TO QUEUE</button>
                </div>  
            </div>
        </div>
    </article>
    {{/article}}